<div [ngClass]="{ snapped: isSnapped }" class="face-snap-card">
  <h2>{{ faceSnap.title | titlecase }}</h2>
  @if (faceSnap.location) {
  <p>Localisation: {{ faceSnap.location }}</p>
  }@else {
  <p>Localisation non spécifiée</p>
  }
  <img [src]="faceSnap.image" [alt]="faceSnap.title" />
  <p>
    Mis en ligne le {{ faceSnap.createdAt | date : "d MMMM yyyy, à HH:mm" }}
  </p>
  <p>{{ faceSnap.description }}</p>
  <p>
    <button (click)="onSnap()">{{ this.nomBouton }}</button>
    🤌
    <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)' }">
      {{ faceSnap.snaps }}
    </span>
  </p>
</div>
